[package]
name = "mdka"
version = "1.2.6"
edition = "2021"
authors = ["nabbisen <nabbisen@scqr.net>"]
license = "Apache-2.0"
description = "HTML to Markdown converter"
repository = "https://github.com/nabbisen/mdka-rs"
readme = "README.md"
categories = ["development-tools", "parsing", "parser-implementations"]
keywords = ["html", "markdown", "parser", "conversion"]
rust-version = "1.74.0"

[lib]
name = "mdka"
path = "src/lib.rs"

[dependencies]
html5ever = "^0.27"
markup5ever_rcdom = "^0.3"

[dev-dependencies]
criterion = "^0.5"

[[example]]
name = "trial"
path = "examples/trial.rs"

[[bench]]
name = "benchmark"
harness = false
